body {
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0 0 2rem;
  color: #345674;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.25;
}

h3 {
  font-size: 2rem;
}
.title {
  font-weight: 700;
}
.title--xxxl {
  font-size: 3rem;
}
.title--xxl {
  font-size: 2.5rem;
}
.title--xl {
  font-size: 2rem;
}
.title--lg {
  font-size: 1.25rem;
}
.title--md {
  font-size: 1.125rem;
}
.title--sm {
  font-size: 1rem;
}